<div class="dashboard-container">
    <!-- Search and Filter Section -->
    <div class="input-container">
        <h2>Compare Football Clubs</h2>
        <mat-form-field class="input-field">
            <mat-label>FC Name</mat-label>
            <input matInput placeholder="ex. Barca" [formControl]="currentInputControl" [matAutocomplete]="autoFcNames">
            <mat-autocomplete #autoFcNames="matAutocomplete" (optionSelected)="onAddSelection($event)">
                <mat-option *ngFor="let fc of filteredFcNames | async" [value]="fc">
                    {{ fc }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        
        <mat-chip-listbox class="selected-items" *ngIf="selectedFcNames.length > 0">
            <mat-chip *ngFor="let fcName of selectedFcNames" (removed)="onRemoveSelection(fcName)">
                {{ fcName }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
        </mat-chip-listbox>
    </div>

    <!-- Cards Grid -->
    <!-- Debug info -->
    <!-- <div>
        <p>Number of cards: {{cards.length || 0}}</p>
        <pre>{{cards | json}}</pre>
    </div> -->

    <!-- Cards Grid -->
    <div class="cards-container">
        <div class="data-card" *ngFor="let card of cards">
            <div class="card-header">
                <div class="logo-container">
                    <img [src]="card.logoUri" [alt]="card.title + ' logo'">
                </div>
                <h3 class="title">{{ card.title }}</h3>
            </div>
            
            <div class="card-content">
                <ul class="data-list">
                    <li *ngFor="let item of card.data">
                        <mat-icon>check_circle</mat-icon>
                        {{ item }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>